<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPLdbk2HD1TpsJy2lPGudN_fQuIlPBGe8</string>
	<key>GCM_SENDER_ID</key>
	<string>935141602224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.KisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitim-c34b9</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-c34b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935141602224:ios:81dac1250b52f4f0ff5c75</string>
</dict>
</plist>